<nav class="navbar navbar-dark bg-dark navbar-expand-sm">

    <a class="navbar-brand" routerLink="/pets">PRS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [collapse]="isCollapsed">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active" *ngIf="authenticationService.isLoggedIn()">
                <a class="nav-link" routerLink="/pets">Pets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link clickable" (click)="openCreatePet()" *ngIf="authenticationService.isLoggedIn()">
                    <i class="fas fa-plus-circle text-light"></i>
                </a>
            </li>
        </ul>

        <ul class="navbar-nav" *ngIf="!authenticationService.isLoggedIn()">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/register">Register</a>
            </li>
        </ul>

        <ul class="navbar-nav" *ngIf="authenticationService.isLoggedIn()">

            <li class="nav-item">
                <a class="nav-link clickable" (click)="logout()">
                    <i class="fas fa-sign-out-alt text-light"></i>
                </a>
            </li>
        </ul>

    </div>
</nav>